aiofiles==24.1.0
appdirs==1.4.4
beautifulsoup4==4.12.3
blinker==1.8.2
bs4==0.0.2
certifi==2024.7.4
click==8.1.7
Flask==3.0.3
Flask-Cors==4.0.1
h11==0.14.0
h2==4.1.0
hpack==4.0.0
Hypercorn==0.17.3
hyperframe==6.0.1
importlib_metadata==8.2.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
priority==2.0.0
pyee==11.1.0
pyppeteer==2.0.0
pyppeteer-stealth==2.7.4
Quart==0.19.6
soupsieve==2.5
tqdm==4.66.5
typing_extensions==4.12.2
urllib3==1.26.19
websockets==10.4
Werkzeug==3.0.3
wsproto==1.2.0
zipp==3.19.2
